__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env
.env.*

logs/*
!logs/.gitkeep

static/uploads/*
!static/uploads/.gitkeep

static/predictions/*
!static/predictions/.gitkeep

.DS_Store
Thumbs.db
